.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemons .normal {
    background-color: #a6a877;
}

.pokemons .grass {
    background-color: #77c850;
}

.pokemons .fire {
    background-color: #ee7f30;
}

.pokemons .water {
    background-color: #678fee;
}

.pokemons .electric {
    background-color: #f7cf2e;
}

.pokemons .ice {
    background-color: #98d5d7;
}

.pokemons .ground {
    background-color: #dfbf69;
}

.pokemons .flying {
    background-color: #a98ff0;
}

.pokemons .poison {
    background-color: #a040a0;
}

.pokemons .fighting {
    background-color: #bf3029;
}

.pokemons .psychic {
    background-color: #f65687;
}

.pokemons .dark {
    background-color: #725847;
}

.pokemons .rock {
    background-color: #b8a137;
}

.pokemons .bug {
    background-color: #a8b720;
}

.pokemons .ghost {
    background-color: #6e5896;
}

.pokemons .steel {
    background-color: #b9b7cf;
}

.pokemons .dragon {
    background-color: #6f38f6;
}

.pokemons .fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #49D0B0;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
}

.pokemon .name {
    color: #FFF;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    background-color: #61E1CA;
    color: #FFF;
    padding: .25rem .5rem;
    margin: .25rem;
    font-size: .825rem2;
    border-radius: 1rem;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

@media screen and (min-width: 100px) {
    .pokemons {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }  
    .pokemon .detail img {
        max-width: 60%;
        height: 70px;
    }
}